<!DOCTYPE html>
<html>

<head>
    <title>Survey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <navbar>
        <%include ../partials/navbar%>
    </navbar>
    <h1>Survey Questions</h1>
    <h2>About You</h2>
    <form id="main" action="/api/friends" method="POST">
        Name:<br>
        <input type="text" name="f_name" required>
        <br>

        Image link: <br>
        <input type="text" name="picture_link" required>
        <br><br>
        <% for (var i = 0; i < res.length; i++){%>
        <h2>Question <%= i + 1%>:</h2>
        <h3> <i><%= res[i].q%></i></h3>
        <select name="question<%=i+1%>" placeholder="Choose an option" required>
            <option value="1">1 (Strongly disagree)</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5 (Strongly agree)</option>
        </select>
        <%}%>

        <button type="submit">Find best match</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript">

        $.ajax({
            url: '/questions',
            method: 'GET'
        }).then(function (res) {
            console.log(res);

            for (var i = 0; i < res.length; i++) {
                var li = $('<li>');
                li.text(res[i]['q']);
                li.append('<br>');
                var sel = $('<select>');
                sel.attr('class', 'uScore')
                sel.append($('<option>').attr('value', ' ').text('chose an option'));
                sel.append($('<option>').attr('value', '1').text('1(strongly disagree'));
                sel.append($('<option>').attr('value', '2').text('2'));
                sel.append($('<option>').attr('value', '3').text('3'));
                sel.append($('<option>').attr('value', '4').text('4'));
                sel.append($('<option>').attr('value', '5').text('5(strongly agree'));

                li.append(sel);
                $('ol').append(li);
            }
        })

        function insertNewFriend() {
            event.preventDefault();
            var nFriend = $("#main input[name=f_name]").val();
            var link = $("#main input[name=picture_link]").val();
            $.ajax({
                url: '/insert',
                method: 'POST',
                data: {
                    f_name: nFriend,
                    picture_link: link
                }
            }).then(function (res) {
                console.log(nFriend, link)
            });
        }
    </script> -->
</body>

</html>