<!DOCTYPE html>
<html>

<head>
    <title>Survey</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <navbar>
        <%include ../partials/navbar%>
    </navbar>
    <h1>Survey Questions</h1>
    <h2>About You</h2>
    <form action="/survey" method="POST">
        Name:<br>
        <input type="text" name="name" required>
        <br>

        Image link: <br>
        <input type="text" name="link" required>
        <br><br>
        <ol class="questions"></ol>

        <br><br>

        <button type="submit">Find best match</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript">

        $.ajax({
            url: '/questions',
            method: 'GET'
        }).then(function (res) {
            for (var i = 0; i < res.length; i++) {
                var li = $('<li>');
                li.text(res[i]['q']);
                var s = $('<select>')
                s.attr('id', 'myS');

                li.append(s)
                $('ol').append(li);
            }
        })

    </script>
</body>

</html>